.backgroundImg{
    position:absolute;
    top:0;
    left:0;
    right:0;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    

    &_dark{
        filter: brightness(.6);
    }
    &_400{
        height: 400px;
    }
    &_full{
        height:100vh;
    }
}