.spinner{
    position: relative;
    grid-row: 1/2;

    &__icon{
        border-radius: 50%;
        background-color: transparent;
        width: 80px;
        height:80px;
        border-top:5px solid $primary-color;
        border-bottom:5px solid $primary-color_opac;
        border-left:5px solid $primary-color_opac;
        border-right:5px solid $primary-color_opac;
        animation: spin 1s infinite linear;
        position: absolute;
        top:40%;
        left:38%;
        z-index: -1;
    }
    &_small{
        width:40px;
        height:40px;
        left:44%;
        top:38%;
    }
    &_noAbsolute{
        position: static;
        margin: 1em auto;
    }
}

@keyframes spin{
    0%{
        transform:rotate(0deg)
    }
    50%{
        border-top:5px solid rgba(255,106,0,1);
        border-bottom:5px solid rgba(255,106,0,.3);
        border-left:5px solid rgba(255,106,0,.3);
        border-right:5px solid rgba(255,106,0,.3);
    }
    100%{
        transform:rotate(360deg)
    }
}