

<nav class="navigation">
    <a href="../albums" class="linkWIcon"><ion-icon class="linkWIcon__icon" name="disc-outline" id="albums"></ion-icon></a>
    <a href="../playlists" class="linkWIcon"><ion-icon class="linkWIcon__icon" name="list-outline" id="playlists"></ion-icon></a>
    <div class="circle" id="featured">
        <a href="../featured" class="linkWIcon"><ion-icon class="linkWIcon__icon linkWIcon__icon_white" name="star-sharp"></ion-icon></a>
    </div>
    <a class="linkWIcon" id="theme"><ion-icon class="linkWIcon__icon" name="contrast-outline"></ion-icon></a>
    <a href="../categories" class="linkWIcon"><ion-icon class="linkWIcon__icon" name="albums-outline" id="categories"></ion-icon></a>
</nav>