<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "music"}) %>

<main class="main main_noPadding">

    <h2 class="headline headline_big headline_gradient headline_margin">all albums</h2>

    <div class="viewAll viewAll_margin">
        <h2 class="headline headline_small">featured albums</h2>
        <p class="viewAll__btn">view all</p>
    </div>

    <div class="slider slider_noGap slider_marginBot">

    </div>

    <div class="viewAll viewAll_margin">
        <h2 class="headline headline_small">new releases</h2>
        <p class="viewAll__btn">view all</p>
    </div>

    <div class="container">

    </div>

</main>

<%- include ("../partials/footer") %>
<script type="module" src="../assets/js/albums.js"></script>
<%- include ("../partials/after-footer") %>