<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "categories"}) %>

<main class="main">
    <h2 class="headline headline_big headline_gradient">categories</h2>
</main>

<%- include ("../partials/footer") %>
<script type="module" src="../assets/js/categories.js"></script>
<%- include ("../partials/after-footer") %>