<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "featured"}) %>

<main class="main">
    <h2 class="headline headline_big headline_gradient">featured</h2>
    <div class="container_io"></div>
    <div class="observed"></div>
</main>

<%- include ("../partials/footer") %>
<script type="module" src="../assets/js/featured.js"></script>
<%- include ("../partials/after-footer") %>
