<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "playlists"}) %>

<main class="main centered main_noPadding">
    <img class="backgroundImg" src="../assets/img/sound-wave.svg" alt="background">
    <h2 class="headline headline_big headline_gradient text-darkmode">playlists</h2>

    <div class="slider">
        
    </div>

    <h2 class="headline headline_default headline_marginBot hidden" id="headline"></h2>

    <div class="container">

    </div>

</main>

<%- include ("../partials/footer") %>
<script type="module" src="../assets/js/playlists.js"></script>
<%- include ("../partials/after-footer") %>