<%- include ("../partials/before-header") %>
<%- include ("../partials/header", {title: "music"}) %>

<main class="main">

    <h2 class="headline headline_big headline_gradient">all songs</h2>
    
</main>

<%- include ("../partials/footer") %>
<script type="module" src="../assets/js/getSearched.js"></script>
<%- include ("../partials/after-footer") %>
