// COLORS

$primary-color: #ff1168;
$primary-color_opac: rgba(255, 17, 104, .3);
$primary-color_opac2: rgba(255, 17, 104, .1);
$secondary-color: #341931;
$additional-color: #111625;
$gradient-color: linear-gradient(90deg, rgba(238,9,121,1) 0%, rgba(255,106,0,1) 100%);

$blue: #115793;
$blue-light: #00a1cb;
$teal: #0abebe;
$green: #3a7634;
$green-light: #5eb11c;
$yellow: #f2bc06;
$orange: #f18d05;
$red: #e54028;

// MASK

$mask: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 70%, rgba(0,0,0,.9) 100%);

// FONT

$headline-big: 48px;
$headline: 36px;
$headline-small: 32px;
$headline-tiny: 24px;
$default: 20px;
$small: 15px;
$tiny: 12px;

$extra-bold: 800;
$semi-bold: 600;
$regular: 400;
$light: 300;


// LIGHT MODE

$text-theme: $additional-color;
$background: white;
$nav: white;